{% import '@SyliusShop/shared/buttons.html.twig' as buttons %}

<td>
    {{ buttons.default(path('sylius_shop_reorder_request', {'itemId': hookable_metadata.context.item.id}), 'Reorder', null, 'tabler:repeat', 'btn btn-sm btn-primary') }}
</td>
